{% extends 'base.html' %}
{% block content %}


<div >
    
 <h1 class="list_title">{{list.title}}</h1>  
  {{list.title}}
  {% for movie in list.movies.all %}
  <div class="review">
    <a href="/movies/{{movie.pk}}" >
     <h3> <span> {{forloop.counter}}</span>
      <h1 class="listitem_name">{{movie.name}}</h1>
      <img src="{{movie.image}}" style='max-width:50px'/>
     </a>
  </div>
  {% empty %}
  <p> Add Movies to this List!!</p>
</div>
{% endfor %}

<div class="dropdown-menu" id="dropdown-menu" role="menu">
    <div class="dropdown-content">
      {% for film in films %}
  <!-- each playlist becomes a drop
  down item with the ids needed to add to the join table  -->
      <a
        href="{% url 'list_movie_assoc' list.pk film.pk %}?assoc=add"
        class="dropdown-item"
      >
        {{film.name}}
      </a>
      
      {% endfor %}
      
    </div>
   
  </div>
  <h3 class="title pt-5">Do you want to Delete "{{list.title}} "?</h3>
  <form method="post">
      {% csrf_token %}
      <div class="buttons">
      <!-- confirm list delete -->
          <input class="button is-danger" type="submit" value="Confirm" />
          <!-- Redirect back to detail on cancel -->
          <a class="button is-primary" href="{% url 'list_detail' list.pk %}">Cancel</a>
      </div>
  </form>
</div>



{% endblock %}